<h1>Scarrrry StoryTyme</h1>

<ul>
  <% @stories.order(created_at: :desc).each do |story| %>
  <li><%= link_to story.title, story_path(story) %></li>
  <% end %>
</ul>

<%= link_to "Start New Story", new_story_path %>
