<div class="panel panel-danger">
  <div class="panel-heading">
    <h1 class="text-center">Scarrrry StoryTyme</h1>
  </div>
  <div class="panel-body">
    <h4>Active Stories:</h4>
    <ul>
      <% @stories.order(created_at: :desc).each do |story| %>
      <li><%= link_to story.title, story_path(story) %></li>
      <% end %>
    </ul>
  </div>
</div>
