<div class="panel panel-warning">
  <div class="panel-heading">
    <h1 class="text-center">Scarrrry StoryTyme</h1>
  </div>
  <div class="panel-body">
    <h4 class="text-center">Active Stories</h4>
  </div>
  <ul class="list-group">
    <% @stories.order(created_at: :desc).each do |story| %>
    <li class="list-group-item"><%= link_to story.title, story_path(story) %> (<%= story.additions.length %> contributions)</li>
    <% end %>
  </ul>
</div>
